<fieldset>
  <legend>Copy</legend>

  <label>
    Invitation code

    <input value="<%= @invitation_code %>" readonly>
  </label>

  <button type="button" value="<%= @invitation_code %>"
          data-controller="clipboard clone"
          data-action="click->clipboard#copy click->clone#append">
    Copy to clipboard

    <template data-clone-target="source">
      <turbo-stream action="append" target="alerts">
        <template>
          <div id="copied_to_clipboard_alert" role="alert" class="border border-solid rounded-md m-4 p-4">
            Copied to clipboard

            <button type="button"
                    data-controller="clone"
                    data-action="click->clone#append">
              Dismiss

              <template data-clone-target="source">
                <turbo-stream action="remove" target="copied_to_clipboard_alert"></turbo-stream>
              </template>
            </button>
          </div>
        </template>
      </turbo-stream>
    </template>
  </button>
</fieldset>

<fieldset>
  <legend>Paste</legend>

  <label>
    Invitation code
    <input>
  </label>
</fieldset>

<div id="alerts" class="absolute bottom-0 right-0 w-96"></div>
