<div id="<%= dom_id message %>" class="scaffold_record">
  <p>
    <strong>Content:</strong>
    <%= highlight(message.content.body.to_html, /\B\@(\w+)/) { |handle| link_to handle, user_path(handle) } %>
  </p>

  <p>
    <%= link_to "Show this message", message %>
  </p>
</div>
