<div id="<%= dom_id article %>" class="scaffold_record">
  <p>
    <strong>Content:</strong>
    <%= render partial: "articles/content", object: article.content %>
  </p>

  <p>
    <%= link_to "Show this article", article %>
  </p>
</div>
