<div id="<%= dom_id user %>" class="scaffold_record">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <%= link_to "Show this user", user %>
  </p>
</div>
