<%= tag.section data: {
  controller: "leaflet",
  leaflet_geo_json_layer_value: geo_json_layer,
  leaflet_tile_layer_value: tile_layer,
} do %>
  <h1>Map</h1>

  <article class="w-full h-96" data-leaflet-target="map"></article>

  <form>
    <label for="search_bbox">Bbox</label>
    <input id="search_bbox" name="bbox" type="text">

    <button>
      Search this area
    </button>
  </form>
<% end %>
